body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ffebf0;
    font-family: Arial, sans-serif;
    overflow: hidden;
}

.container {
    text-align: center;
    z-index: 2;
    position: absolute;
}

h1 {
    font-size: 24px;
    background: linear-gradient(45deg, #ff4757, #2f3542);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
}


.progress-bar {
    width: 200px;
    height: 20px;
    background-color: #ddd;
    border-radius: 10px;
    overflow: hidden;
    margin: 10px auto;
}

.progress {
    height: 100%;
    width: 0%;
    background: linear-gradient(45deg, #ff4757, #2f3542);
    transition: width 0.3s;
    border-radius: 5px; /* Opcional: para darle un borde redondeado */
}

.counter {
    font-size: 18px;
    color: #333;
}

#game-area {
    position: relative;
    width: 100vw;
    height: 60vh;
    overflow: hidden;
}

.heart {
    position: absolute;
    font-size: 2rem;
    cursor: pointer;
    animation: fall 4s linear forwards;
}

@keyframes fall {
    from { transform: translateY(0); opacity: 1; }
    to { transform: translateY(100vh); opacity: 0; }
}

/* Fondo de partículas */
canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    z-index: 1;
}
